<!DOCTYPE html>
<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
    <script src="socket.io/socket.io.js"></script>
    <script type="text/javascript" src="chart.js"></script>
   
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
</body>
</html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>poll chart </title>
   
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="socket.io/socket.io.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript" src="../JS/chart.js"></script>
</body>
 </html>